<div class="container">
    <div class="row">
        <p class="title">El aroma m&aacute;gico</p>
    </div>
    <div class="row">
        <img src="/assets/cafe-image.png" alt="image" class="image-style">
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Region</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let c of cafes;let i = index" [attr.data-index]="i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{c.nombre}}</td>
                    <td>{{c.tipo}}</td>
                    <td>{{c.region}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <p *ngFor="let c of tiposCafe">Total caf&eacute; de {{c.tipo}} : {{c.cantidad}}</p>
    </div>
    
    <div class="row">
        <p class="footer">Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</p>
    </div>
    


</div>


 